---
http_interactions:
- request:
    method: get
    uri: https://geocode.xyz/117+William+St%0AEffingham,+Kansas,+66023?auth=124615673551132105404x77873&json=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{   "standard" : {      "stnumber" : "117",      "addresst" : "WILLIAM
        ST",      "statename" : "KS",      "postal" : "66023",      "region" : "KS",      "prov"
        : "US",      "city" : "Effingham",      "countryname" : "United States of
        America",      "confidence" : "1.00"   },   "longt" : "-95.40083",   "alt"
        : {},   "elevation" : {},   "remaining_credits" : "-37",   "latt" : "39.51776"}'
  recorded_at: Sat, 18 Jan 2025 16:47:43 GMT
recorded_with: VCR 6.3.1
