---
http_interactions:
- request:
    method: get
    uri: https://geocode.xyz/Invalid+Address?auth=124615673551132105404x77873&json=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{   "longt" : "0.00000",   "matches" : null,   "remaining_credits"
        : {},   "error" : {      "description" : "7. Your request did not produce
        any results.",      "code" : "008"   },   "suggestion" : {      "region" :
        {},      "locate" : {}   },   "latt" : "0.00000"}'
  recorded_at: Sat, 18 Jan 2025 16:47:46 GMT
recorded_with: VCR 6.3.1
